@media (max-width:768px){
    .logoHeader{width: 70%;height: auto;display: block;margin-left: 25px;margin-right: auto;}
}
@media (min-width:1024px){
    .logoHeader{width: 20%;height: auto;}
}
.hoverH{
    transition: all 1s;
    &:hover{
        transform: translateY(-5px);
        cursor: pointer;
    }
}